.flex {
  display: flex;
}

.fx-col {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90vw;
  margin: 30px auto;
}

.App {
}

.App-header {
  background-color: #ffffff;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0a0a0a;
  text-align: center;
}

.App-link {
  color: #3c5bff;
}

.Button {
  background-color: #3c5bff;
  appearance: none;
  color: #ffffff;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  line-height: 1;
  display: block;
  padding: 11px 18px;
  font-weight: bold;
  font-size: 14px;
}

.Input {
  line-height: 1;
  padding: 11px 18px;
  font-size: 20px;
  display: block;
  border: 2px solid #3c5bff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-weight: bold;
}

.Input:focus {
  outline-offset: -2px;
  outline-style: solid;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 2rem;
  animation: App-logo-breathe infinite 2.2s ease-in-out alternate;
}

.Habits {
  display: grid;
}

.Habits .Habit {
  border-right: 2px solid #3c5bff;
  border-bottom: 2px solid #3c5bff;
  padding: 22px 36px;
}
.Habits .Habit:last-child {
  border-bottom: 0;
}

.HabitPoint:hover {
  color: red;
}

.Track {
  background-color: transparent;
  appearance: none;
  border: none;
  text-decoration: underline;
}

@keyframes App-logo-breathe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.FutureDays {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
